/* ####Custom props */
:root{
   --primary-color:rgb(0 97 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}
 ul{
    list-style: none;
 }

 li{
    display: inline-block;
 }

 a{
    color: inherit;
    text-decoration: none;
 }

 /* ### Debug */

 .debug{
   min-height: 40px;
   border: 1px dashed red;
   padding: 1rem;
}

.debug *{
  
   min-height: 80px;
   border: 1px dashed red;
   padding: 1rem;
}

 /* #### Utils */

 .container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
 }

 .d-flex{
   display: flex;
 }

 .col-40{
   width: 40%;
 }

 .col-60{
   width: 60%;
 }


 .btn{
    display: inline-block;
    padding: 14px 7px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    
 }

 .btn .btn-primary{
    background-color: var(--primary-color);
 }


 /* ###Header */

 #header{
   padding: 0 15px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 0.9rem;
 }

 #header .logo{
   height: 20px;
 }

 #header .header-nav{
    display: flex;
    align-items: center;
    gap: 15px;

 }
 #header .header-nav li{
   margin: 0 22px;
 }

 /* ####--HERO -- */

 #hero{
   background-color: rgb(180 208 231);
 }

 #hero .container{
   max-width: 1200px;
   
 }

 #hero .overflow-img{
   position: relative;
   top: 31%;
 }
 
 /* ###Business### */

 .container-bis{
   margin-left: 100px;
   margin-right: 100px;
   justify-content: center;
    margin-top: 50px;
   
    
 }
 .business{

   padding: 20px 20px;
 


 }

  .fatturazione{
   display: flex;
   padding: 0 15px;
   align-items: center;
   justify-content: flex-start;
}
 .pad{
   padding: 20px 20px;
 }
.fatturazione *{
   padding: 10px 20px;
}
 .container-bis *{
    
 }

 .card-up{
   padding-left: 50px;
   width: 30%;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 25px;
   border: 1px solid rgb(54, 53, 53);
}
 
.card-down{
   padding: 20px;
   width: 30%;
   line-height: 40px;
   

   gap: 25px;
   border: 1px solid rgb(54, 53, 53);
}
 

